@charset "UTF-8";
@font-face {
  font-family: "Comfortaa";
  src: url(../fonts/Comfortaa/Comfortaa-VariableFont-wght.ttf); }

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-Regular.ttf); }

/*!----------------RESET----------------*/
* {
  margin: 0;
  padding: 0; }

/*!----------------GENERAL----------------*/
h2 {
  font-family: "Comfortaa";
  font-weight: bold;
  text-align: center;
  margin: 0px; }

h3 {
  /* margin-bottom: 30px; */
  font-family: "Comfortaa";
  font-size: 30px;
  /* padding-top: 30px; */
  font-weight: bold;
  margin: 0px; }

p {
  line-height: normal;
  margin: 0px;
  font-family: "Poppins";
  font-size: 20px; }

header .barra-menu .contenedor-hamburguesa div li .button, footer .footer .footer-element .button, .hero .button, section .grid-servicios .descripcion-servicio .button, .service-hero a, .service-cta .button, .portal-clientes .login-form .button {
  font-family: "Poppins";
  color: black;
  background: linear-gradient(white, white) padding-box, linear-gradient(45deg, #4242eb, #f40ec6) border-box;
  text-decoration: none;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  border: 2px solid transparent;
  width: fit-content; }
  header .barra-menu .contenedor-hamburguesa div li .button:hover, footer .footer .footer-element .button:hover, .hero .button:hover, section .grid-servicios .descripcion-servicio .button:hover, .service-hero a:hover, .service-cta .button:hover, .portal-clientes .login-form .button:hover {
    color: white;
    background: linear-gradient(45deg, #4242eb, #f40ec6) padding-box, linear-gradient(45deg, #4242eb, #f40ec6) border-box; }

.hero, .hero-analisis-de-procesos, .hero-business-intelligence, .hero-soporte-contable {
  width: 100%;
  height: calc(100vh - 68px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/*!----------------HEADER----------------*/
header {
  background-color: #000000;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
  z-index: 1; }
  header h1 {
    font-size: 40px;
    font-family: "Comfortaa";
    font-weight: bold;
    color: white;
    margin: 0px; }
    header h1 .logotipo {
      text-decoration: none;
      color: white; }
  header .barra-menu {
    padding: 0px; }
    header .barra-menu .contenedor-hamburguesa {
      justify-content: flex-end !important;
      padding: 0px;
      flex-wrap: nowrap !important;
      align-items: flex-start !important; }
      header .barra-menu .contenedor-hamburguesa div .nav-hamburguesa {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
        margin: 0px;
        text-align: right; }
      header .barra-menu .contenedor-hamburguesa div li {
        margin-left: 20px; }
        header .barra-menu .contenedor-hamburguesa div li a {
          text-decoration: none;
          color: white !important;
          font-family: "Poppins"; }
        header .barra-menu .contenedor-hamburguesa div li .dropdown-menu {
          --bs-dropdown-bg: #000; }
        header .barra-menu .contenedor-hamburguesa div li .button {
          font-size: 16px;
          background: linear-gradient(black, black) padding-box, linear-gradient(45deg, #25d366, #34b7f1) border-box;
          color: white; }
          header .barra-menu .contenedor-hamburguesa div li .button:hover {
            background: linear-gradient(45deg, #25d366, #34b7f1) padding-box, linear-gradient(45deg, #25d366, #34b7f1) border-box; }
          header .barra-menu .contenedor-hamburguesa div li .button img {
            width: 20px;
            height: 20px; }
      header .barra-menu .contenedor-hamburguesa .menu-hamburguesa {
        background-color: white;
        border: 0px;
        border-radius: 100%;
        padding: 5px;
        margin-left: 20px; }

/*!----------------FOOTER----------------*/
footer {
  background-color: #000000;
  color: white; }
  footer h2 {
    font-size: 50px;
    padding: 100px 0px 100px 0px; }
  footer .footer {
    padding: 0px 0px 100px 0px;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap; }
    footer .footer .footer-element {
      text-align: center;
      font-family: "Poppins";
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
      footer .footer .footer-element p {
        margin: 10px; }
      footer .footer .footer-element form {
        margin-bottom: 5px; }
      footer .footer .footer-element img {
        width: 20px;
        height: 20px;
        margin: 0px 10px 0px 0px; }
      footer .footer .footer-element div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0px 0px 5px 0px; }
      footer .footer .footer-element .button {
        font-size: 15px;
        border: 0px solid transparent; }

/*!----------------INDEX----------------*/
.hero {
  background-image: url("../img/fondo-herosection6.png"); }
  .hero .heroheader {
    font-size: 100px;
    font-family: "Comfortaa";
    font-weight: bold;
    color: white;
    margin: 0px;
    text-align: center; }
  .hero .herotagline {
    font-size: 40px;
    font-family: "Poppins";
    color: white;
    margin-bottom: 80px;
    text-align: center; }
  .hero .button {
    font-size: 20px;
    border: 0px solid transparent; }

section h2 {
  font-size: 50px;
  padding-top: 100px;
  padding-bottom: 100px; }

section .grid-servicios {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: 3;
  row-gap: 50px; }
  section .grid-servicios .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 1px 42px 40px -24px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 42px 40px -24px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 42px 40px -24px rgba(0, 0, 0, 0.75); }
  section .grid-servicios .descripcion-servicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 100px 0px 100px;
    grid-column: span 2; }
    section .grid-servicios .descripcion-servicio p {
      margin: 30px 0px 30px 0px; }
    section .grid-servicios .descripcion-servicio .button {
      font-size: 15px; }

section .testimonios {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: 0px auto;
  font-family: "Poppins";
  padding: 0px 0px 100px 0px; }
  section .testimonios .testimonio {
    padding: 0px 30px 0px 30px; }
    section .testimonios .testimonio p {
      text-align: center;
      margin: 0px 0px 30px 0px; }
    section .testimonios .testimonio .cliente {
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: right; }
      section .testimonios .testimonio .cliente p {
        font-size: 16px; }
      section .testimonios .testimonio .cliente img {
        width: 120px;
        padding-left: 15px; }

/*!----------------SERVICIOS----------------*/
/*!----------------ANÁLISIS DE PROCESOS----------------*/
.hero-analisis-de-procesos {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/analisis-procesos.png"); }

/*!----------------BUSINESS INTELLIGENCE----------------*/
.hero-business-intelligence {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/business-intelligence.png"); }

/*!----------------SOPORTE CONTABLE----------------*/
.hero-soporte-contable {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/soporte-contable.png"); }

.service-hero h2 {
  font-size: 100px;
  font-family: "Comfortaa";
  font-weight: bold;
  color: white;
  margin: 0px;
  text-align: center;
  padding: 0px; }

.service-hero p {
  font-size: 25px;
  font-family: "Poppins";
  color: white;
  margin-top: 20px;
  margin-bottom: 80px;
  text-align: center; }

.service-hero a {
  font-size: 20px;
  border: 0px solid transparent; }

.service-feature {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 80px 50px 80px 50px;
  gap: 50px; }
  .service-feature .feature {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    .service-feature .feature div {
      display: flex;
      align-items: center;
      gap: 15px;
      padding-bottom: 50px; }
      .service-feature .feature div img {
        width: 25px;
        height: 25px; }

.service-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #4242eb, #f40ec6);
  padding: 80px 0px 80px 0px;
  color: white; }
  .service-cta h3 {
    padding-bottom: 30px;
    text-align: center; }
  .service-cta p {
    width: 90%;
    text-align: center; }
    .service-cta p span {
      text-decoration-line: underline; }
  .service-cta .button {
    font-size: 20px;
    margin-top: 20px;
    background: linear-gradient(45deg, #25d366, #34b7f1) padding-box, linear-gradient(45deg, #25d366, #34b7f1) border-box;
    color: white; }
    .service-cta .button:hover {
      background: linear-gradient(45deg, #34b7f1, #25d366) padding-box, linear-gradient(45deg, #34b7f1, #25d366) border-box; }
    .service-cta .button img {
      width: 20px;
      height: 20px; }

/*!----------------PORTAL CLIENTES----------------*/
.portal-clientes {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .portal-clientes .img-container-portal-clientes {
    width: 50%;
    height: 100%;
    background-image: url("../img/portal-clientes.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .portal-clientes .login-form {
    margin: 0px auto;
    padding: 0px 50px 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .portal-clientes .login-form .portal-clientes-titulo {
      padding: 0px 0px 50px 0px; }
    .portal-clientes .login-form .button {
      font-size: 15px;
      margin-top: 15px; }

@media screen and (max-width: 1140px) {
  .portal-clientes {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .portal-clientes .img-container-portal-clientes {
      height: 250px;
      width: 100%; }
    .portal-clientes .login-form {
      padding: 50px 0px 50px 0px; } }

@media screen and (max-width: 920px) {
  section .testimonio .cliente {
    flex-direction: column; } }

@media screen and (max-width: 800px) {
  section .grid-servicios .descripcion-servicio {
    padding: 0px 20px 0px 20px; } }

@media screen and (max-width: 700px) {
  .descripcion-servicio {
    padding: 0px 20px 0px 20px; }
  section .grid-servicios {
    grid-template-columns: 1fr;
    grid-template-rows: 6;
    text-align: center;
    row-gap: 50px; }
    section .grid-servicios .grid-item {
      grid-column: span 1;
      align-items: center; }
      section .grid-servicios .grid-item img {
        width: 60%;
        object-fit: cover; }
      section .grid-servicios .grid-item:nth-of-type(1) {
        order: 1; }
      section .grid-servicios .grid-item:nth-of-type(2) {
        order: 2; }
      section .grid-servicios .grid-item:nth-of-type(3) {
        order: 4; }
      section .grid-servicios .grid-item:nth-of-type(4) {
        order: 3; }
      section .grid-servicios .grid-item:nth-of-type(5) {
        order: 5; }
      section .grid-servicios .grid-item:nth-of-type(6) {
        order: 6; }
  section .testimonios {
    flex-direction: column; }
    section .testimonios .testimonio {
      padding: 0px 30px 30px 30px; }
      section .testimonios .testimonio .cliente {
        flex-direction: row; }
        section .testimonios .testimonio .cliente img {
          padding-top: 0px; }
  .service-hero h2 {
    font-size: 70px; }
  .service-hero p {
    font-size: 20px; }
  .service-hero a {
    font-size: 15px; } }

@media screen and (max-width: 450px) {
  body h2 {
    font-size: 40px; }
  .hero .heroheader {
    font-size: 70px; }
  .hero .herotagline {
    font-size: 40px; }
  section .testimonios .testimonio .cliente {
    flex-direction: column; }
  .service-hero h2 {
    font-size: 50px; } }
