/*!----------------FOOTER----------------*/

footer{
    background-color: #000000;
    color: white;
    h2{
        font-size: 50px;
        padding: 100px 0px 100px 0px;
    }
    .footer{
        padding: 0px 0px 100px 0px;
        display: flex;
        justify-content: center;
        gap: 50px;
        flex-wrap: wrap;
        .footer-element{
            text-align: center;
            font-family: "Poppins";
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            p{
                margin: 10px;
            }
            form{
                margin-bottom: 5px;
            }
            img{
                width: 20px;
                height: 20px;
                margin: 0px 10px 0px 0px;
            }
            div{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 0px 0px 5px 0px;
            }
            .button{
                @extend %button;
                font-size: 15px;
                border: 0px solid transparent;
            }
        }
    }
}