/*!----------------HEADER----------------*/

header{
    background-color: #000000;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    z-index: 1;
    h1{
        font-size: 40px;
        font-family: "Comfortaa";
        font-weight: bold;
        color: rgb(255, 255, 255);
        margin: 0px;
        .logotipo{
            text-decoration: none;
            color: white;
        }
    }
    .barra-menu{
        padding: 0px;
        .contenedor-hamburguesa{
            justify-content: flex-end !important;
            padding: 0px;
            flex-wrap: nowrap !important;
            align-items: flex-start !important;
            div{
                .nav-hamburguesa{
                    list-style: none;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    text-align: center;
                    margin: 0px;
                    // align-items: flex-end;
                    text-align: right;
                }
                li{
                    margin-left: 20px;
                    a{
                        text-decoration: none;
                        color: rgb(255, 255, 255) !important;
                        font-family: "Poppins";
                    }
                    .dropdown-menu{
                        --bs-dropdown-bg: #000;
                    }
                    .button{
                        @extend %button;
                        font-size: 16px;
                        background: linear-gradient(black, black) padding-box, linear-gradient(45deg, #25d366, #34b7f1) border-box;
                        //background: linear-gradient(45deg, #25d366, #34b7f1) padding-box, linear-gradient(45deg, #25d366, #34b7f1) border-box;
                        color: white;
                        &:hover{
                            background: linear-gradient(45deg, #25d366, #34b7f1) padding-box, linear-gradient(45deg, #25d366, #34b7f1) border-box;
                        }
                        img{
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
            .menu-hamburguesa{
                background-color: white;
                border: 0px;
                border-radius: 100%;
                padding: 5px;
                margin-left: 20px;
            }
        }
    }
}