/*!----------------SERVICIOS----------------*/

/*!----------------ANÁLISIS DE PROCESOS----------------*/

.hero-analisis-de-procesos{
    @extend %hero-sections;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, $gradient-transp), rgba(0, 0, 0, $gradient-transp)), url("../img/analisis-procesos.png");
}

/*!----------------BUSINESS INTELLIGENCE----------------*/

.hero-business-intelligence{
    @extend %hero-sections;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, $gradient-transp), rgba(0, 0, 0, $gradient-transp)), url("../img/business-intelligence.png");
}

/*!----------------SOPORTE CONTABLE----------------*/

.hero-soporte-contable{
    @extend %hero-sections  ;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, $gradient-transp), rgba(0, 0, 0, $gradient-transp)), url("../img/soporte-contable.png");
}

.service-hero{
    h2{
        font-size: 100px;
        font-family: "Comfortaa";
        font-weight: bold;
        color: white;
        margin: 0px;
        text-align: center;
        padding: 0px;
    }
    p{
        font-size: 25px;
        font-family: "Poppins";
        color: white;
        margin-top: 20px;
        margin-bottom: 80px;
        text-align: center;
    }
    a{
        @extend %button;
        font-size: 20px;
        border: 0px solid transparent;
    }
}

.service-feature{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 80px 50px 80px 50px;
    gap: 50px;
    .feature {
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        // border: 2px solid black;
        // text-align: justify;
        div{
            display: flex;
            align-items: center;
            gap: 15px;
            padding-bottom: 50px;
            img{
            width: 25px;
            height: 25px;
            }
        }
    }
}

.service-cta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, $color-primario, $color-secundario);
    padding: 80px 0px 80px 0px;
    color: white;
    h3{
        padding-bottom: 30px;
        text-align: center;
    }
    p{
        width: 90%;
        text-align: center;
        span{
            text-decoration-line: underline;
            //background-color: white;
            //color: black;
        }
    }
    .button {
        @extend %button;
        font-size: 20px;
        margin-top: 20px;
        background: linear-gradient(45deg, #25d366, #34b7f1) padding-box, linear-gradient(45deg, #25d366, #34b7f1) border-box;
        color: white;
        &:hover{
            background: linear-gradient(45deg, #34b7f1, #25d366) padding-box, linear-gradient(45deg, #34b7f1, #25d366) border-box;
        }
        img{
            width: 20px;
            height: 20px;
        }
    }
}